.play__container{
    width: 900px;
    height: 630;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row;
  }
  
  
  .squares__container{
    display: flex;
    flex-flow: column-reverse;
    width: 500px;
    position: relative;
  }

  .playInfo__container{
    width: 400px;
  }
 