.squares__container{
    display: flex;
    flex-flow: column-reverse;
    width: 500px;
    position: relative;
}

.col__grid{
    width: auto;
    height: 90px;
    border: 1px solid black;
}

.col__color{
    background-color: rgba(85, 181, 106, 0.2);
}

.row__flex{
    flex-flow: row-reverse;
}
.img__player{
    z-index: 100;
    position: absolute;
  }

.col,.row{
    margin: 0;
    padding: 0;
}